.center {
  display: grid;
  place-content: center;
}
.font-small {
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.125rem + 3.125vw, 0.875rem);
}
.font-medium {
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.25rem + 3.125vw, 1rem);
}
.font-large {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 0rem + 6.25vw, 1.5rem);
}
.bold {
  font-weight: 800;
}
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
