.center {
  display: grid;
  place-content: center;
}
.heading {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}
.body-regular {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}
.body-bold {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
}
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
