---
import ChallengeLayout from '../layouts/ChallengeLayout.astro';
// import Card from '../components/Card.astro';
---

<ChallengeLayout>
  <div class="center">
    <!-- <Card
      accent_color="var(--accent)"
      feature_image="/src/assets/illustration-article.svg"
      category_text="Learning"
      pubdate_text="Published 21 Dec 2023"
      title_text="HTML & CSS foundations"
      description_text="These languages are the backbone of every website, defining structure, content, and presentation."
      author_image="/src/assets/image-avatar.webp"
      author_name="Greg Hooper"
    /> -->
  </div>
</ChallengeLayout>
