---
import ChallengeLayout from '../layouts/ChallengeLayout.astro';
import Card from '../components/solution/Card.astro';
---

<ChallengeLayout>
  <div class="solution">
    <Card />
  </div>
</ChallengeLayout>
